.page-ut-gp-list {
  margin-left: -30px;
  box-sizing: border-box;
  display: block !important;
  width: 100%;

  * {
    box-sizing: border-box;
  }
  .fiche {
    margin-right: 0 !important;
  }
}

/** Screen */
.page-ut-gp-list #id-right {
  padding-left: 300px;
  width: calc(100% + 30px);
  display: block;
}


/** UT / GP Navigation */
.page-ut-gp-list .side-nav {
  position: absolute;
  height: 100%;
  top: 0;
  padding-top: 50px;
  box-sizing: border-box;
  box-shadow: none;

  .side-nav-responsive {
    display: none;
  }
  #id-left {
    width: 300px;
    padding-top: 0;
  }
  .digirisk-wrap {
    padding: 0 !important;
  }
  .navigation-container {
    //padding-left: 10px;
    //padding-right: 10px;
    max-height:1000px;
    overflow-y: auto;
  }

  .add-container {
    position: absolute;
    right: 0;
    bottom: 5px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease-out;
  }

  #id-left.active .add-container {
    opacity: 1;
  }

}

/** Header */
.page-ut-gp-list .side-nav .society-header {
  padding-top: 27px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;

  .title {
    font-weight: 700;
  }
  .linkElement {
    line-height: 1;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding-bottom: 10px;
    display: flex;
    width: 100%;
  }

  &:hover .add-container {
    opacity: 1;
    pointer-events: all;
  }
}

/** Toolbar */
.page-ut-gp-list .side-nav .toolbar {
  padding-left: 10px;
  padding-right: 10px;

  .toggle-plus, .toggle-minus {
    display: inline-block;
    padding: 3px;
    transition: all 0.2s ease-out;
    color: rgba(0,0,0,0.6);

    &:hover {
      cursor: pointer;
      opacity: 0.6;
    }
  }
}

/** Content */
.page-ut-gp-list .side-nav .workunit-list {
  padding-left: 0;

  ul, li {
    list-style-type: none;
    margin: 0;
  }

  > .unit:first-child > .unit-container:first-child > .title {
    border-top: 1px solid rgba(0,0,0,0.1);
  }

  .unit-container {
    display: flex;
    position: relative;

    &:hover .add-container {
      opacity: 1;
      pointer-events: all;
    }

    .toggle-unit {
      color: rgba(0, 0, 0, 0.6);
      line-height: 40px;
      font-size: 18px;
      min-width: 30px;
      width: 30px;
      text-align: center;
      transition: all 0.2s ease-out;

      &:hover {
        cursor: pointer;
      }
      .toggle-icon {
        line-height: 40px;
      }
    }
    .spacer {
      position: relative;
      min-width: 30px;
      width: 30px;

      &::before {
        display: block;
        position: absolute;
        content: '';
        height: 1px;
        left: 0;
        right: 10px;
        top: 20px;
        background: rgba(0,0,0,0.3);
      }
    }
    .photodigiriskdolibarr {
      display: block;
      width: 40px;
      min-width: 40px;
      height: 40px;
      position: relative;
      background: #fff;
      text-align: center;
      transition: all 0.2s ease-out;
    }
    .divphotoref {
      max-width: 50px;
      position: relative;

      .photo {
        object-fit: cover;
        //width: 100%;
        //height: 100%;
        margin: 0;
      }
    }
    .title {
      width: 100%;
      padding-left: 1em;
      display: flex;
      border-bottom: 1px solid rgba(0,0,0,0.1);

      .linkElement {
        width: 100%;
        padding-top: 0.5em;
        text-decoration: none;

        &:hover .name {
          color: $color__primary;
        }
      }
      .title-container {
        margin: auto 0;
      }
      .ref {
        font-size: 10px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        display: inline-block;
        background: $color__secondary;
        padding: 0.2em 0.4em;
      }
      .name {
        font-size: 14px;
        color: #000;
        display: block;
        transition: all 0.2s ease-out;
      }
    }
  }

  .unit > .unit-container {
    //padding: 4px 0 0 0;
  }

  .unit > .sub-list {
    padding: 0 0 0 7px;
    display: none;

    > .unit:last-child::before {
      height: 24px;
    }
    .toggle-unit {
      position: relative;

      &::before {
        right: 20px;
        display: block;
        position: absolute;
        content: '';
        height: 1px;
        left: 0;
        top: 20px;
        background: rgba(0,0,0,0.3);
      }
    }
    .unit {
      position: relative;
      margin-left: 0.6em;

      &::before {
        display: block;
        position: absolute;
        content: '';
        width: 1px;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(0,0,0,0.3);
      }
    }
  }

  .unit.active {
    > .unit-container {
      .title {
        background: rgba(0,0,0,0.1);
        .name {
          font-weight: 600;
        }
      }
    }
  }

  .unit.type-workunit .unit-container .ref {
    background: $color__primary;
  }

  /** Toggle */
  .unit.toggled > .sub-list {
    display: block;
  }

}
