.ticketpublicarea {
  .ticket-register {
    width: 100%;
    height: 100%;

    .wpeo-button {
      width: 100%;
      height: 100%;
      padding: 12px 14px;

      &:hover {
        box-shadow: inset 0 -4.6em rgb(255 255 255 / 25%)
      }

      &.button-yellow {
        border-color: #e88740;
        background: #e88740;
      }
      &.button-blue {
        border-color: #009cc2;
        background: #009cc2;
      }
      &.button-red {
        border-color: #c44b2a;
        background: #c44b2a;
      }
    }
    //&:not(.active) .wpeo-button {
    //  border-width: 0;
    //}
    &.active .wpeo-button {
      border-color: #000 !important;
    }
  }
  .ticket-pertinence {
    border: 1px solid rgba(0,0,0,0.2);
    padding: 1em;
    text-align: center;
    width: 100%;
    transition: all 0.2s ease-out;

    &:hover {
      cursor: pointer;
      background: rgba(0,0,0,0.1);
    }
    &.active {
      box-shadow: inset 0 0 0px 3px #0d8aff;
    }
    .button-label {
      display: block;
      margin-top: 0.5em;
    }
  }

  .form-registre .wpeo-button {
    display: flex;
    justify-content: center;

    > * {
      margin-top: auto;
      margin-bottom: auto;
    }
    .button-label {
      margin-left: 0.5em;
    }
  }

  .tableforinputfields {
    margin-top: 1em;

    input {
      display: block;
      clear: both;
      width: 100%;
      max-width: none;
      margin-bottom: 1em;
    }
    .inline-block {
      @media ( max-width: $media__small ) {
        display: block;
      }
      input {
        display: inline-block;
      }
      #options_digiriskdolibarr_ticket_date {
        max-width: 80px;
      }
    }
  }
}
