@media ( max-width: $media__large ) {
  #id-container.page-ut-gp-list .side-nav {
    position: static;
    height: auto;
    padding: 0 2em;
    background: none;
    border: 0;

    .side-nav-responsive {
      display: block;
      background: $color__secondary;
      color: #fff;
      border-radius: 6px;
      padding: 0.6em 1em;
      font-weight: 600;
      font-size: 14px;
      transition: all 0.2s ease-out;

      &:hover {
        cursor: pointer;
        background: lighten( $color__secondary, 20% );
      }
    }
    #id-left {
      position: absolute;
      z-index: 999;
      background: #efefef;
      border: 1px solid rgba(0,0,0,0.1);
      box-shadow: 0 0 40px 0 rgba(0,0,0,0.1);
      transition: all 0.2s ease-out;
      max-height: 500px;
      overflow-y: auto;

      &:not(.active) {
        opacity: 0;
        pointer-events: none;
        transform: translateY(-10px);

        .wpeo-button {
          pointer-events: none;
        }
      }
    }
  }

  #id-container.page-ut-gp-list #id-right {
    padding-left: 0;
  }
}
