.wpeo-modal {
  .title {
    display: block;
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 0.6em;
    color: rgba(0, 0, 0, 0.8);
  }

  input[type="text"],
  input[type="email"],
  input[type="url"],
  input[type="password"],
  input[type="search"],
  input[type="number"],
  input[type="tel"],
  input[type="range"],
  input[type="date"],
  input[type="month"],
  input[type="week"],
  input[type="time"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="color"],
  select,
  textarea {
    width: 100%;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 1em;

    &:focus {
      border: 1px solid rgba(0,0,0,0.6);
    }
  }
}

.form-label-required {
  &::after {
    display: inline-block;
    content: '*';
    color: $color__red;
    font-size:22px;
    line-height: 0;
    position: relative;
    top: 4px;
    left: 4px;
  }
}
