.digirisk-page-container {
  max-width: 1000px;
  background: #fff;
  box-shadow: 0 0 40px 0 rgba(0,0,0,0.1);
  margin: 1.5em auto 0 auto;
  padding: 2em;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }
}
