/**
 * .cotation -> classe de base
 * .default-cotation -> par défaut
 * .level1 -> cotaiton 0
 * .level2 -> cotation 48
 * .level4 -> cotation 51
 * .level5 -> cotation 80
 * .method -> cotation personnalisée
 */
$background-colors: (
  riskenvironmental: $color__riskenvironmental,
  risk: $color__secondary
);

.wpeo-table.evaluation-method {
  background: none;

  .table-row.table-header {
    @media (max-width: $media__medium) {
      display: none;
    }
  }

  @each $class, $color in $background-colors {
    &.#{$class} {
      .table-row.table-header {
        background: $color;
      }
      .table-row > .table-cell:first-child {
        background: $color;
        color: #fff;
      }
    }
  }

  .table-cell {
    margin: 0;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 0.8em 0.4em;
    position: relative;

    @media (max-width: $media__small) {
      width: 100% !important;
    }

    &.can-select {
      &::after {
        display: block;
        content: '';
        position: absolute;
        top: 0.4em;
        right: 0.4em;
        bottom: 0.4em;
        left: 0.4em;
        background: rgba(0,0,0,0.1);
        transform: scale(0);
        opacity: 0;
        transition: transform 0.2s ease-out, opacity 0.2s ease-out;
      }
      &:hover {
        cursor: pointer;
        &::after {
          transform: scale(1);
          opacity: 1;
        }
      }
      &.active {
        color: #fff;

        &::after {
          transform: scale(1);
          opacity: 1;
          background: $color__primary;
          z-index: -1;
        }
      }
    }
  }

  @for $i from 2 through 6 {
    .table-row:not(.header) .table-cell:nth-of-type(#{$i}).active::after {
      background: darken($color__primary, (($i - 2) * 15%));
    }
  }
}
