td > .risk-evaluation-container {
  min-width: 340px;
  border: 1px solid rgba(0,0,0,0.1);
  background: rgba(0,0,0,0.05);
  padding: 0.5em;
  margin-bottom: 0.5em;
}
.risk-evaluation-container .risk-evaluation-single {
  display: flex;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }
  > * {
    margin-top: auto;
    margin-bottom: auto;
  }

  .risk-evaluation-cotation {
    width: 40px;
    min-width: 40px;
    height: 40px;
    line-height: 40px;
  }

  .risk-evaluation-photo {
    width: 40px;
    min-width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: $color__grey;
    color: rgba(0,0,0,0.3);
    margin-right: 0.5em;

    .photodigiriskdolibarr {
      width: 100%;
      height: auto;
      background: #fff;
    }
    a, .divphotoref {
      width: 40px;
      min-width: 40px;
      height: 40px;
      position: relative;
      display: block;

      .photo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .risk-evaluation-content {
    width: 100%;

    .risk-evaluation-author {
      display: inline-block;
      width: 25px;
      min-width: 25px;
      height: 25px;
      line-height: 25px;
      background: rgba(0,0,0,0.5);
      overflow: hidden;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 600;
      border-radius: 50%;
      vertical-align: sub;
      text-align: center;

      a {
        color: #fff !important;
      }
    }
  }
  .risk-evaluation-content .risk-evaluation-data {
    display: flex;
    flex-wrap: wrap;

    > * {
      margin: auto 0.2em;
    }

    .risk-evaluation-reference {
      color: $color__secondary;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .risk-evaluation-count {
      background: rgba(0,0,0,0.2);
      font-size: 12px;
      border-radius: 4px;
      padding: 0.2em 0.4em;
    }
  }

  .risk-evaluation-button {
    margin-left: 0.5em;
  }
}
