.riskassessment-tasks .riskassessment-task-container, .riskassessment-task-container {
  min-width: 430px;
  border: 1px solid rgba(0,0,0,0.1);
  background: rgba(0,0,0,0.05);
  padding: 0.5em;
}

.riskassessment-tasks {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;

  .riskassessment-task-container {
    flex-grow: 1;
  }
  .riskassessment-task-add-wrapper {
    min-width: calc(40px + 0.5em);
    margin: auto 0;
    text-align: center;
  }
}
.riskassessment-task-listing-wrapper .riskassessment-task-container {
  margin-bottom: 0.5em;
}

.riskassessment-task-single {
  display: flex;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }
  .riskassessment-task-actions {
    margin-left: auto;
  }

  > * {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.riskassessment-task-content {
  .riskassessment-task-author {
    display: inline-block;
    width: 20px;
    min-width: 20px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    transition: all 0.3s ease;
    background: #C993B4;

    a {
      color: #fff !important;
    }
    &:hover {
      z-index: 10;
      transform: scale(1.3);
    }
  }
  .riskassessment-task-author-label {
    word-break: break-all;
  }

  .riskassessment-task-data {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;

    > * {
      margin: auto 0.2em;
    }

    .riskassessment-task-reference {
      color: $color__secondary;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .riskassessment-task-count {
      background: rgba(0,0,0,0.2);
      font-size: 12px;
      border-radius: 4px;
      padding: 0.2em 0.4em;
    }
    .riskassessment-task-progress {
      background: rgba(0, 0, 0, 0.2);
      font-size: 12px;
      border-radius: 4px;
      padding: 0.2em 0.4em;
      font-weight: 700;
      color: rgba(0,0,0,0.6);

      &.progress-red {
        background: $color__red;
        color: #fff;
      }

      &.progress-yellow {
        background: $color__yellow;
        color: #fff;
      }

      &.progress-green {
        background: $color__green;
        color: #fff;
      }
    }
  }

  .riskassessment-task-title {
    display: flex;

    .riskassessment-task-progress-checkbox {
      margin: auto 0;

      input {
        width: 20px;
        height: 20px;
      }
    }
    .riskassessment-task-author-label {
    }
  }

  .riskassessment-task-add {
    min-width: 40px;
    margin-left: 0.5em;
  }
  .riskassessment-task-delete {
    margin-right: -0.5em;
  }
}

.riskassessment-task-listing-wrapper {
  width: 100%;
}

.riskassessment-task-add {
  margin: 5px;
}

.riskassessment-task-list {
  margin: 5px;
}


/** Add comment in modal */
.riskassessment-task-timespent-add-container {
  display: flex;
  background: rgba(0,0,0,0.1);
  padding: 10px;
  margin-bottom: 25px;

  > * {
    margin: auto 5px;
  }
  .timespent-comment {
    flex-grow: 1;
  }
  .timespent-date {
    min-width: 250px;
  }
  .timespent-duration {
    max-width: 100px;
  }
  .timespent-add-button {
    min-width: 30px;

    .wpeo-button {
      margin-top: 20px;
    }
  }
}

/** List of comments */
.riskassessment-task-timespent-container {
  .riskassessment-task .riskassessment-task-container {
    background: #fff;
    border: 0;
  }

  .riskassessment-task-timespent-comment {
    display: block;
  }
}
.riskassessment-task-timespent-list li {
  &:nth-of-type(even) .table-row {
    background: rgba(0,0,0,0.05) !important;
  }
  &:nth-of-type(odd) .table-row {
    background: #fff !important;
  }

  .riskassessment-task-timespent-author {
    @extend .riskassessment-task-author;
  }
}
