.risksign-photo {
  width: 50px;
  min-width: 50px;
  height: 50px;
  background: $color__grey;
  margin-right: 0.5em;

  .photodigiriskdolibarr {
    width: 100%;
    height: auto;
    background: #fff;
  }
}

.risksign-content {
  width: 100%;
}

.risksign-add {
  min-width: 40px;
  margin-left: 0.5em;
}
