$color__text-main: #333333;

$color__primary: #0d8aff;
$color__primary-text: #fff;

$color__secondary: #263C5C;
$color__secondary-text: #fff;

$color__red: #e05353;
$color__yellow: #e9ad4f;
$color__dark: #2b2b2b;
$color__grey: #ececec;
$color__blue: #0d8aff;
$color__green: #47e58e;
