@import "risk";
@import "risksign";
@import "riskassessment-task";
@import "photo";
@import "evaluator";
@import "riskassessment";

.wpeo-modal .modal-container {
  ul, li {
    margin: 0;
    list-style-type: none;
    padding: 0;
  }
}
