#dialog-confirm-actionButtonImportSharedRiskSigns {
  .confirmtext {
    text-align: center;
    padding: 0.2em 0 0.4em 0;
  }
  .tagtable {
    border-collapse: collapse;
  }
  .tagtr {
    //display: flex;
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }
  .tagtd {
    padding: 0.3em 0;
  }
  .tagtr > .tagtd:first-child {
    display: flex;

    .importsharedrisksign:not(.imported) {
      width: 30%;
    }
    .importsharedrisksign.imported {
      width: 10%;
      text-align: center;
      font-size: 12px;
    }
    .importsharedrisksign {
      img {
        float: left;
        margin-right: 0.4em;
        max-width: 35px;
      }
      > span {
        display: block;
      }
      .importsharedrisksign-ref {
        font-weight: 600;
      }
    }
  }
  .tagtr > .tagtd:last-child {
    vertical-align: middle;
  }
}
