<!-- Start show_document -->
<form action="/dolibarr/htdocs/custom/digiriskdolibarr/view/legaldisplay_card.php?id=1" id="builddoc_form" method="post"><!-- Tototutu --><input type="hidden" name="action" value="builddoc"><input type="hidden" name="token" value="$2y$10$aHEdIJdJMp0jSgYh85idbOvt.u1vgOPF2A5LSLkyrqhELRl.IXalq">
    <table class="centpercent notopnoleftnoright table-fiche-title"><tr class="titre"><td class="nobordernopadding valignmiddle col-title"><div class="titre inline-block">Fichiers joints</div></td></tr></table>
    <div class="div-table-responsive-no-min"><table class="liste formdoc noborder centpercent"><tr class="liste_titre"><th colspan="4" class="formdoc liste_titre maxwidthonsmartphone center"><span class="hideonsmartphone">Mod&egrave;le de document </span><select id="model" class="flat model maxwidth200" name="model" ><option value="einstein" selected>einstein</option>
    </select>
    <!-- JS CODE TO ENABLE select2 for id = model -->
              <script>
                $(document).ready(function () {
                    $('#model').select2({
                        dir: 'ltr',
                        width: 'resolve',		/* off or resolve */
                        minimumInputLength: 0,
                        language: select2arrayoflanguage,
                        containerCssClass: ':all:',					/* Line to add class of origin SELECT propagated to the new <span class="select2-selection...> tag */
                        templateResult: function (data, container) {	/* Format visible output into combo list */
                             /* Code to add class of origin OPTION propagated to the new select2 <li> tag */
                            if (data.element) { $(container).addClass($(data.element).attr("class")); }
                            //console.log(data.html);
                            if ($(data.element).attr("data-html") != undefined) return htmlEntityDecodeJs($(data.element).attr("data-html"));		// If property html set, we decode html entities and use this
                            return data.text;
                        },
                        templateSelection: function (selection) {		/* Format visible output of selected value */
                            return selection.text;
                        },
                        escapeMarkup: function(markup) {
                            return markup;
                        },
                        dropdownCssClass: 'ui-dialog'
                    });
    });
    </script>
    &nbsp;<input class="button buttongen" id="builddoc_generatebutton" name="builddoc_generatebutton" type="submit" value="G&eacute;n&eacute;rer"></th></tr><!-- html.formfile::showdocuments -->
    <tr><td colspan="4" class="opacitymedium">Aucun</td></tr>
    </table>
    </div>
    <!-- End show_document -->